{
  "root": true,
  "ignorePatterns": ["bld", ".bld-cache", "packages/icons"],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/default"],
      "parserOptions": {
        "project": "!(node_modules)/**/tsconfig.json"
      }
    },
    {
      "files": ["packages/core/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/procedure/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/task/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/editor/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/condition/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/converter/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/utils/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/plugins/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    }
  ]
}
