{
  "root": true,
  "ignorePatterns": [
    "bld",
    ".bld-cache",
    "packages/icons",
    "packages/procedure/**/*.js"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/default"],
      "parserOptions": {
        "project": "**/tsconfig.json"
      },
      "rules": {
        "@mufan/reference-missing-proof": 0,
        "@mufan/no-object-literal-type-assertion": 0
      }
    },
    {
      "files": ["packages/procedure/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/task/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/editor/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/condition/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    },
    {
      "files": ["packages/plugins/src/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"]
    }
  ]
}
